<div class="card-container">
  <h2 class="text-align-center ptb-24">CLIENT VISIT APP</h2>
  <div class="d-flex align-items-center justify-content-center">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>SIGN IN</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="full-width pt-36">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">
              Username is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width ptb-24">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
              Password is required
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>