.card-container {
  background: linear-gradient(to bottom, #00bcd4, #2196f3);
  height: 100vh;

  .login-card {
    padding: 20px;
    margin-top: 10%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Adjust the width as needed */
    width: 100%;
  }

  .full-width {
    width: 100%;
  }

  h2 {
    font-size: 2.5rem;
    color: white;
  }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .login-card {
    max-width: 300px;
  }

  h2 {
    font-size: 1.5rem !important;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .login-card {
    max-width: 400px;
  }
  h2 {
    font-size: 1.5rem !important;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 2rem !important;
  }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}
